# Ian Chen

first class of ETL with python

In [317]:
# How to get some help

In [322]:
# Press Shift-Tab inside ()
# i.e.
# range(<Shift-Tab>)

In [318]:
?range()

In [321]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [46]:
# This is a comment

In [118]:
print("Hello word")

Hello word

In [145]:
print("OK Python")

OK Python

In [69]:
input("What is your name??")

What is your name??Ian

'Ian'

In [4]:
# variable, stirng, numbers, if-else, for-loop...etc

# Strings

In [148]:
mystr = "This is a string"

In [149]:
mystr = 'This is a string'

In [14]:
mystr = """
THis is 
a 
multi line
string
"""

In [15]:
mystr = "I'm "

In [40]:
mystr

"I'm "

In [41]:
mystr + "Ian Chen"

"I'm Ian Chen"

In [42]:
"Ian Chen"[1]

'a'

In [43]:
"Ian Chen"[1:3]

'an'

In [47]:
"Ian Chen"[1:6:2] # [start:end:step]

'a h'

In [49]:
"Ian Chen"[::-1] # [start:end:step]

'nehC naI'

In [50]:
len("Ian Chen")

8

In [51]:
myname = "Ian Chen"

In [53]:
"My name is {}".format(myname)

'My name is Ian Chen'

In [55]:
no_stars = 100

In [56]:
"I have" + no_stars + "stars"

TypeError: Can't convert 'int' object to str implicitly

In [57]:
"I have {} stars".format(no_stars)

'I have 100 stars'

In [59]:
"I have {} stars, I have {} stars, I have {} stars, I have {} stars, ".format(no_stars, 200, 300, 400)

'I have 100 stars, I have 200 stars, I have 300 stars, I have 400 stars, '

In [60]:
"I have {0} stars, I have {0} stars, I have {1} stars, I have {3} stars, ".format(no_stars, 200, 300, 400)

'I have 100 stars, I have 100 stars, I have 200 stars, I have 400 stars, '

In [61]:
"I have {no_stars} stars".format(no_stars = 99)

'I have 99 stars'

In [63]:
# This is the old way of doing sbtring interpolation....

In [65]:
"I have a %s, I have an %s"%('pen', 'apple')

'I have a pen, I have an apple'

# Numbers

In [16]:
myint

1

In [17]:
myint + 1

2

In [22]:
three = myint * 3
three

3

In [19]:
myint / 2

0.5

In [23]:
three % 2

1

In [24]:
three ** 2

9

In [25]:
(three + 1) * 2

8

# Boolean

In [26]:
is_true = True

In [27]:
is_false = False

In [34]:
not False

True

In [29]:
3 == 1

False

In [33]:
not 3 == 1

True

In [28]:
three == myint

False

In [30]:
3 != 1

True

In [35]:
1 == 1 and 2 == 2

True

In [36]:
1 == 1 or 2 == 1

True

In [39]:
three >= 1

True

In [38]:
myint < three

True

## Side notes on Boolean...

In [66]:
bool("")

False

In [67]:
bool(0)

False

In [6]:
# list, dictionary, try-except, Object Oriented...

# Collections

In [70]:
mylist = []

In [71]:
mylist = [1,3,4]

In [72]:
mylist[0]

1

In [76]:
mylist[::]

[1, 3, 4, 'hello', 'hello']

In [75]:
mylist.append('hello')
mylist

[1, 3, 4, 'hello', 'hello']

In [77]:
mylist

[1, 3, 4, 'hello', 'hello']

In [78]:
mylist.pop()

'hello'

In [80]:
mylist

[1, 3, 4, 'hello']

In [81]:
del mylist[2]

In [82]:
mylist

[1, 3, 'hello']

In [84]:
mylist + ['pikachu', True]

[1, 3, 'hello', 'pikachu', True]

In [85]:
mybooks = ['harry potter', 'lord of rings', 'master python in 1 day']

In [87]:
'master in python' in mybooks

False

In [88]:
'master python in 1 day' in mybooks

True

In [90]:
len(mybooks)

3

In [94]:
'hello'

'hello'

In [95]:
print(mybooks.reverse())

None

In [96]:
mybooks

['master python in 1 day', 'lord of rings', 'harry potter']

In [98]:
mystr = "I have a pen"

In [106]:
mystr2 = mystr

In [150]:
mystr2.lower()

'i have a pen'

# Control Flow

In [151]:
if True:
    print("It is true")
else:
    print("IT is NOT true")

It is true

In [155]:
myinput = input("Enter a number")
if 10 > int(myinput) > 5:
    print("input is greater than 5")
elif int(myinput) < 5:
    print("input is less than 5")
else:
    print("ok")

Enter a number100
ok

In [180]:
# Loops
mybooks = ['hArry pOtTer', 'python: the definitive guide', 'lonely plaNet: jApaN']

In [172]:
# Traditional loop
book_titles = []
for book in mybooks:
    print(book.title())
    book_titles.append(book.title())
print(book_titles)

Harry Potter
Python: The Definitive Guide
Lonely Planet: Japan
['Harry Potter', 'Python: The Definitive Guide', 'Lonely Planet: Japan']

In [173]:
book_titles

['Harry Potter', 'Python: The Definitive Guide', 'Lonely Planet: Japan']

In [174]:
# List comprehention
book_titles2 = [book.title() for book in mybooks]

In [176]:
len('Lonely Planet: Japan')

20

In [175]:
book_titles2

['Harry Potter', 'Python: The Definitive Guide', 'Lonely Planet: Japan']

In [182]:
book_titles = []
for book in mybooks:
    pass
    if len(book) > 20:
        print("Book title is tooooooooooo long")
        break
    if len(book) > 12:
        print("Book title is too long")
        continue
    book_titles.append(book.title())

Book title is tooooooooooo long

In [ ]:
# String < === > List Transformation

In [187]:
book_titles_string = ','.join(book_titles2)
book_titles_string

'Harry Potter,Python: The Definitive Guide,Lonely Planet: Japan'

In [188]:
book_titles_string.split(',')

['Harry Potter', 'Python: The Definitive Guide', 'Lonely Planet: Japan']

In [249]:
# Range, for generating list of squential numbers....[1,2,3,4,5.......100]

In [195]:
for page_no in range(11):
    print("https://www.ptt.cc/bbs/Gossiping/index{}.html".format(page_no))

https://www.ptt.cc/bbs/Gossiping/index0.html
https://www.ptt.cc/bbs/Gossiping/index1.html
https://www.ptt.cc/bbs/Gossiping/index2.html
https://www.ptt.cc/bbs/Gossiping/index3.html
https://www.ptt.cc/bbs/Gossiping/index4.html
https://www.ptt.cc/bbs/Gossiping/index5.html
https://www.ptt.cc/bbs/Gossiping/index6.html
https://www.ptt.cc/bbs/Gossiping/index7.html
https://www.ptt.cc/bbs/Gossiping/index8.html
https://www.ptt.cc/bbs/Gossiping/index9.html
https://www.ptt.cc/bbs/Gossiping/index10.html

In [268]:
url_list = []
for page_no in range(20197, 20187, -1): # range(start, stop, step)
    url = "https://www.ptt.cc/bbs/Gossiping/index{}.html".format(page_no)
    url_list.append(url)
for line in url_list:
    print(line)

https://www.ptt.cc/bbs/Gossiping/index20197.html
https://www.ptt.cc/bbs/Gossiping/index20196.html
https://www.ptt.cc/bbs/Gossiping/index20195.html
https://www.ptt.cc/bbs/Gossiping/index20194.html
https://www.ptt.cc/bbs/Gossiping/index20193.html
https://www.ptt.cc/bbs/Gossiping/index20192.html
https://www.ptt.cc/bbs/Gossiping/index20191.html
https://www.ptt.cc/bbs/Gossiping/index20190.html
https://www.ptt.cc/bbs/Gossiping/index20189.html
https://www.ptt.cc/bbs/Gossiping/index20188.html

In [269]:
# Prepend into a list
url_list = []
for page_no in range(20197, 20187, -1): # range(start, stop, step)
    url = "https://www.ptt.cc/bbs/Gossiping/index{}.html".format(page_no)
    url_list.insert(0, url)
for line in url_list:
    print(line)

https://www.ptt.cc/bbs/Gossiping/index20188.html
https://www.ptt.cc/bbs/Gossiping/index20189.html
https://www.ptt.cc/bbs/Gossiping/index20190.html
https://www.ptt.cc/bbs/Gossiping/index20191.html
https://www.ptt.cc/bbs/Gossiping/index20192.html
https://www.ptt.cc/bbs/Gossiping/index20193.html
https://www.ptt.cc/bbs/Gossiping/index20194.html
https://www.ptt.cc/bbs/Gossiping/index20195.html
https://www.ptt.cc/bbs/Gossiping/index20196.html
https://www.ptt.cc/bbs/Gossiping/index20197.html

In [ ]:
# While loop..

In [196]:
x = 0
while x < 4:
    print(x)
    x += 1 # x = x + 1

0
1
2
3

In [ ]:
# Error handling...try-except

In [198]:
mylist = [1,2,3]
for index in range(0,4):
    print(index)
    print(mylist[index])

0
1
1
2
2
3
3

IndexError: list index out of range

In [204]:
mylist = [1,2,3]
for index in range(0,4):
    print(index)
    try:
        print(mylist[index])
    except IndexError:
        print("There is an Exception")
    else:
        print("This item is safe")
    finally:
        print("Finally, I'm done with this item")

0
1
This item is safe
Finally, I'm done with this item
1
2
This item is safe
Finally, I'm done with this item
2
3
This item is safe
Finally, I'm done with this item
3
There is an Exception
Finally, I'm done with this item

In [250]:
# Write elements to a file, one element per line

In [210]:
myfile = open('./urls.csv', 'w')
try:
    for url in url_list:
        #myfile.write(url)
        myfile.write(url + '\n')
finally:
    myfile.close()

In [ ]:
# Open files, and read line-by-line

In [212]:
myfile = open('./urls.csv', 'r')
for line in myfile:
    print("Line is {}".format(line))
myfile.close()

Line is https://www.ptt.cc/bbs/Gossiping/index20197.html

Line is https://www.ptt.cc/bbs/Gossiping/index20196.html

Line is https://www.ptt.cc/bbs/Gossiping/index20195.html

Line is https://www.ptt.cc/bbs/Gossiping/index20194.html

Line is https://www.ptt.cc/bbs/Gossiping/index20193.html

Line is https://www.ptt.cc/bbs/Gossiping/index20192.html

Line is https://www.ptt.cc/bbs/Gossiping/index20191.html

Line is https://www.ptt.cc/bbs/Gossiping/index20190.html

Line is https://www.ptt.cc/bbs/Gossiping/index20189.html

Line is https://www.ptt.cc/bbs/Gossiping/index20188.html

In [256]:
# Append to a file
with open('./urls.csv', 'a+') as f: # Append with a+ file mode
    for x in range(11):
        f.write(str(x * 2) + '\n')

In [215]:
# Context Manager (with) to auto close files, even when exceptions occur
with open('./urls.csv') as f:
    for line in f:
        print(line.strip()) # Strips whitespace characters on both sides of the string

https://www.ptt.cc/bbs/Gossiping/index20197.html
https://www.ptt.cc/bbs/Gossiping/index20196.html
https://www.ptt.cc/bbs/Gossiping/index20195.html
https://www.ptt.cc/bbs/Gossiping/index20194.html
https://www.ptt.cc/bbs/Gossiping/index20193.html
https://www.ptt.cc/bbs/Gossiping/index20192.html
https://www.ptt.cc/bbs/Gossiping/index20191.html
https://www.ptt.cc/bbs/Gossiping/index20190.html
https://www.ptt.cc/bbs/Gossiping/index20189.html
https://www.ptt.cc/bbs/Gossiping/index20188.html

In [216]:
# Dictionaries

In [217]:
mydict = {}

In [218]:
mydict = {'one': 1, 'two': 2, 'three': 3}

In [ ]:
# GET a value from dict

In [219]:
mydict['one']

1

In [220]:
mydict.keys()

dict_keys(['three', 'two', 'one'])

In [221]:
mydict.values()

dict_values([3, 2, 1])

In [222]:
# in, can look up if a key is in dictionary
"one" in mydict

True

In [223]:
mydict['one']

1

In [224]:
mydict['four']

KeyError: 'four'

In [229]:
print(mydict.get('one'))

1

In [228]:
print(mydict.get('four'))

None

In [230]:
# Default if key does not exist
print(mydict.get('four', 4))

4

In [ ]:
# CREATE a value in dictionary

In [232]:
mydict['five'] = 5
mydict

{'five': 5, 'one': 1, 'three': 3, 'two': 2}

In [ ]:
# UPDATE a value in dictionary

In [234]:
mydict['five'] = 'wu'
mydict

{'five': 'wu', 'one': 1, 'three': 3, 'two': 2}

In [ ]:
# DELETE a value

In [235]:
del mydict['five']

In [236]:
mydict

{'one': 1, 'three': 3, 'two': 2}

In [271]:
for key in mydict:
    print(key)
    print(mydict[key])

three
3
two
2
one
1

In [237]:
# Sets

In [242]:
myset = set([1,2,3,1,1,1])

In [243]:
myset

{1, 2, 3}

In [244]:
myset.add(1)

In [245]:
myset

{1, 2, 3}

In [246]:
myset2 = {1,2,3,4,5}

In [247]:
myset | myset2

{1, 2, 3, 4, 5}

In [248]:
myset2 - myset

{4, 5}

In [258]:
mylist = [1,2,3]

In [260]:
mylist.insert(0, 5)

In [261]:
mylist

[5, 1, 2, 3]

In [272]:
# Functions

In [276]:
def add(x,y):
    print("x is {}, y is {}".format(x,y))
    return x + y

In [277]:
add(1,2)

x is 1, y is 2

3

In [278]:
add(y=1,x=9)

x is 9, y is 1

10

In [279]:
# OOP

In [287]:
class Human:
    species = "H. sapiens"
    
    def __init__(self, name):
        self.name = name
        self.age = 0
        
    def say(self, msg):
        print("{}: {}".format(self.name, msg))
    
    def sing(self):
        print("I have a pen...")
    
    @classmethod
    def get_species(cls):
        return cls.species

    @staticmethod
    def angrey():
        return ":("

In [282]:
class Batman(Human):
    pass

In [289]:
ian = Human(name="Ian")

In [290]:
ian.say("I have a pen")

Ian: I have a pen

In [291]:
ian.say(ian.get_species())

Ian: H. sapiens

In [292]:
ian.angrey()

':('

In [293]:
ian.age

0

In [295]:
ian.age = 999

In [296]:
ian.age

999

In [297]:
# Modules

In [298]:
import datetime

In [299]:
datetime.datetime.now()

datetime.datetime(2016, 12, 20, 16, 0, 28, 438879)

In [302]:
datetime.timedelta(days = 1)

datetime.timedelta(1)

In [300]:
from datetime import timedelta

In [301]:
timedelta()

datetime.timedelta(0)

In [304]:
import datetime as dt

In [305]:
dt.timedelta()

datetime.timedelta(0)

In [306]:
# pip
!pip install jieba

Collecting jieba
  Using cached jieba-0.38.zip
Installing collected packages: jieba
  Running setup.py install for jieba ... - \ | / done
Successfully installed jieba-0.38
You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [307]:
import jieba

In [310]:
speech = """

"""

In [323]:
# Download the dict.txt.big from jieba github website....
# https://github.com/fxsjy/jieba/blob/master/extra_dict/dict.txt.big
jieba.set_dictionary('./dict.txt.big')

In [314]:
jieba.cut(speech)

In [316]:
for word in jieba.cut(speech):
    print(word)

Building prefix dict from /Users/ian/Code/ab105/dict.txt.big ...

Dumping model to file cache /var/folders/nv/wcxzgnv54jdbv2617kd8tndw0000gn/T/jieba.u12ba46502f5149db5ea5a054201fc478.cache
Loading model cost 2.067 seconds.
Prefix dict has been built succesfully.