# Ian Chen

first class of ETL with python

In [46]:
# This is a comment

In [118]:
print("Hello word")

Hello word

In [145]:
print("OK Python")

OK Python

In [69]:
input("What is your name??")

What is your name??Ian

'Ian'

In [4]:
# variable, stirng, numbers, if-else, for-loop...etc

# Strings

In [148]:
mystr = "This is a string"

In [149]:
mystr = 'This is a string'

In [14]:
mystr = """
THis is 
a 
multi line
string
"""

In [15]:
mystr = "I'm "

In [40]:
mystr

"I'm "

In [41]:
mystr + "Ian Chen"

"I'm Ian Chen"

In [42]:
"Ian Chen"[1]

'a'

In [43]:
"Ian Chen"[1:3]

'an'

In [47]:
"Ian Chen"[1:6:2] # [start:end:step]

'a h'

In [49]:
"Ian Chen"[::-1] # [start:end:step]

'nehC naI'

In [50]:
len("Ian Chen")

8

In [51]:
myname = "Ian Chen"

In [53]:
"My name is {}".format(myname)

'My name is Ian Chen'

In [55]:
no_stars = 100

In [56]:
"I have" + no_stars + "stars"

TypeError: Can't convert 'int' object to str implicitly

In [57]:
"I have {} stars".format(no_stars)

'I have 100 stars'

In [59]:
"I have {} stars, I have {} stars, I have {} stars, I have {} stars, ".format(no_stars, 200, 300, 400)

'I have 100 stars, I have 200 stars, I have 300 stars, I have 400 stars, '

In [60]:
"I have {0} stars, I have {0} stars, I have {1} stars, I have {3} stars, ".format(no_stars, 200, 300, 400)

'I have 100 stars, I have 100 stars, I have 200 stars, I have 400 stars, '

In [61]:
"I have {no_stars} stars".format(no_stars = 99)

'I have 99 stars'

In [63]:
# This is the old way of doing sbtring interpolation....

In [65]:
"I have a %s, I have an %s"%('pen', 'apple')

'I have a pen, I have an apple'

# Numbers

In [16]:
myint

1

In [17]:
myint + 1

2

In [22]:
three = myint * 3
three

3

In [19]:
myint / 2

0.5

In [23]:
three % 2

1

In [24]:
three ** 2

9

In [25]:
(three + 1) * 2

8

# Boolean

In [26]:
is_true = True

In [27]:
is_false = False

In [34]:
not False

True

In [29]:
3 == 1

False

In [33]:
not 3 == 1

True

In [28]:
three == myint

False

In [30]:
3 != 1

True

In [35]:
1 == 1 and 2 == 2

True

In [36]:
1 == 1 or 2 == 1

True

In [39]:
three >= 1

True

In [38]:
myint < three

True

## Side notes on Boolean...

In [66]:
bool("")

False

In [67]:
bool(0)

False

In [6]:
# list, dictionary, try-except, Object Oriented...

# Collections

In [70]:
mylist = []

In [71]:
mylist = [1,3,4]

In [72]:
mylist[0]

1

In [76]:
mylist[::]

[1, 3, 4, 'hello', 'hello']

In [75]:
mylist.append('hello')
mylist

[1, 3, 4, 'hello', 'hello']

In [77]:
mylist

[1, 3, 4, 'hello', 'hello']

In [78]:
mylist.pop()

'hello'

In [80]:
mylist

[1, 3, 4, 'hello']

In [81]:
del mylist[2]

In [82]:
mylist

[1, 3, 'hello']

In [84]:
mylist + ['pikachu', True]

[1, 3, 'hello', 'pikachu', True]

In [85]:
mybooks = ['harry potter', 'lord of rings', 'master python in 1 day']

In [87]:
'master in python' in mybooks

False

In [88]:
'master python in 1 day' in mybooks

True

In [90]:
len(mybooks)

3

In [94]:
'hello'

'hello'

In [95]:
print(mybooks.reverse())

None

In [96]:
mybooks

['master python in 1 day', 'lord of rings', 'harry potter']

In [98]:
mystr = "I have a pen"

In [106]:
mystr2 = mystr

In [150]:
mystr2.lower()

'i have a pen'